Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule (.*) /api/public/$1 [L]

RewriteCond %{REQUEST_URI} !^/client/
RewriteRule (.*) /client/dist/$1 [END]

RewriteCond %{REQUEST_URI} ^/client
RewriteRule (.*) /$1 [L,R=404]
